body{
height: 100vh;
display: grid;
place-items: center;
}

.container{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #FFB6AD;
    display: grid;
    place-items: center;
}

.flor{
    width: 50px;
    height: 50px;
    animation: giro 15s linear infinite;
}

.hojas{
position: absolute;
z-index: 1;
width: 50px;
height: 50px;
background-color: white;
border-radius: 2px 50px;
opacity: 0.8;
box-shadow: -5px -5px 2px rgb(0, 0, 0,0.05);
}

.centro{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: #f3db8e;
    border-radius: 50%;
    animation: dot 4s ease-in-out infinite;
}

.hojas-0{
    transform: rotate(0deg) translate(-35px, -35px) scale(2);
}

.hojas-1{
    transform: rotate(22.5deg) translate(-35px, -35px) scale(2);
}

.hojas-2{
    transform: rotate(45deg) translate(-35px, -35px) scale(2);
}

.hojas-3{
    transform: rotate(67.5deg) translate(-35px, -35px) scale(2);
}

.hojas-4{
    transform: rotate(90deg) translate(-35px, -35px) scale(2);
}

.hojas-5{
    transform: rotate(112.5deg) translate(-35px, -35px) scale(2);
}

.hojas-6{
    transform: rotate(135deg) translate(-35px, -35px) scale(2);
}

.hojas-7{
    transform: rotate(157.5deg) translate(-35px, -35px) scale(2);
}

.hojas-8{
    transform: rotate(180deg) translate(-35px, -35px) scale(2);
}

.hojas-9{
    transform: rotate(202.5deg) translate(-35px, -35px) scale(2);
}

.hojas-10{
    transform: rotate(225deg) translate(-35px, -35px) scale(2);
}

.hojas-11{
    transform: rotate(247.5deg) translate(-35px, -35px) scale(2);
}

.hojas-12{
    transform: rotate(270deg) translate(-35px, -35px) scale(2);
}

.hojas-13{
    transform: rotate(292.5deg) translate(-35px, -35px) scale(2);
}

.hojas-14{
    transform: rotate(315deg) translate(-35px, -35px) scale(2);
}

.hojas-15{
    transform: rotate(337.5deg) translate(-35px, -35px) scale(2);
}

@keyframes giro{
    0%{
        transform: scale(0) translate(-35px, -35px);
    }
    30%{
        transform: scale(1) rotate(50deg);
    }
    70%{
        transform: scale(1) rotate(100deg);
    }
    80%{
        transform: scale(1) rotate(180deg);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes centro{
    0%,12%{
        transform: scale(0);
    }
    20%{
        transform: scale(1.1);
    }
    30%,55%{
        transform: scale(1);
    }
    58%{
        transform: scale(1.1);
    }
70%,100%{
    transform: scale();
}
}

p {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1px;
    margin: 20px 0;
}

p:first-of-type {
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 1.2px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

p:last-of-type {
    font-style: italic;
    font-size: 1.6rem;
}
